---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description | xmlEscape }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/" rel="alternate" type="text/html"/>
  <updated>{{ collections.allEntries | newestDate }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>Quinn Brewer</name>
  </author>
  {%- for entry in collections.allEntries.slice(0, 20) %}
  {%- set absUrl = site.url + entry.url %}
  <entry>
    <title>{{ entry.data.title | xmlEscape }}</title>
    <link href="{{ absUrl }}" rel="alternate" type="text/html"/>
    <id>{{ absUrl }}</id>
    <updated>{{ (entry.data.date or entry.data.date_updated or entry.data.date_started) | dateToRfc3339 }}</updated>
    <summary>{{ entry.templateContent | excerpt | xmlEscape }}</summary>
  </entry>
  {%- endfor %}
</feed>
